.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
}
#currentweather-button {
  position: relative;
  left: 10px;
  background-color: #2bb3a9;
  color: white;
  border-color: white;
}
#currentweather-button:hover {
  background-color: white;
  border-color: #2bb3a9;
  color: #2bb3a9;
  transition: all 200ms ease-in-out;
}

#search-button {
  border-radius: 3px;
}
h2 {
  text-align: left;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  color: #2bb3a9;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  padding-bottom: 5px;
}
.card-body {
  padding: 0px;
}
.row {
  height: 80px;
}
.col {
  padding-left: 10px;
  padding-right: 10px;
}
.col-4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 50%;
}
.TodayDetails {
  font-size: 16px;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: #939aa9;
}
.TodayTemp {
  position: relative;
  top: 15px;
  left: 75px;
  color: #939aa9;
  font-size: 30px;
  font-weight: 300;
}

img {
  width: 180px;
  position: relative;
  top: -50px;
  left: 110px;
}
.day-of-week {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: #697182;
  padding-top: 20px;
}
.temperature {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #697182;
  padding-top: 10px;
}
.fa-cloud-sun {
  color: #2bb3a9;
  font-size: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.fa-cloud-rain {
  color: #2bb3a9;
  font-size: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.fa-sun {
  color: #2bb3a9;
  font-size: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.fa-bolt {
  color: #2bb3a9;
  font-size: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
#day {
  color: #939aa9;
}
.coder-name {
  display: block;
  position: relative;
  top: 390px;
  right: 543px;
  color: #697182;
}
.coder-name:hover {
  color: darkviolet;
  cursor: pointer;
}
